.row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    width: 33.33%;
    flex-shrink: 0;
    margin-bottom: 20px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    /* color: var(--white); */
    text-align: center;
    /* border-radius: 40px; */
    padding-bottom: 15px;
    height: fit-content;
}

.title {
    color: gray;
    font-size: 18px;
}

button {
    background: #fff;
    outline: none;
    border: none;
    font-size:var(--s);
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
button:hover{
    color: #fff;
    background-color: var(--tertiary-color);    
    transform: translateY(-2px);


}
.card img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .column {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .column {
        width: 100%;
    }

    .card {
        height: auto; 
        margin: 10px; 
    }

    button {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .card {
        border-radius: 20px; 
    }

    .title {
        font-size: 16px; 
    }

    button {
        font-size: 16px; 
    }
}