.contact{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://cdn.pixabay.com/photo/2024/05/28/12/05/workplace-8793724_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end ;
    padding: 0 20px;
    background-color: var(--primary-color);
    width: 100%;
}
.contact form {
    border: 1px dashed #000;
    max-width: 600px;
    width: 100%;
    background-color: aliceblue;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba (0,0,0,.1);
    color: #333;
    margin: 25px;
}
.contact form h2{
    font-size: 30px;
    text-align: center;
}
.contact form .input-box{
    margin-top: 20px;
}
.field{
width: 100%;    
height: 50px;
background-color: transparent;
border: 2px solid #ddd;
outline: none;
border-radius: 6px;
padding: 15px;
font-size: 16px;
color: #333;
margin-top: 8px;
}
.mess{
    height: 200px;
    resize: none;
}
